*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #f4a261;
  --secondary-text-color: #e9c46a;
  --primary-background-color: #264653;
  --secondary-background-color: #2a9d8f;
  --accent-color: #e76f51;
}

.characterCard__detail {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}
